#single-restaurant-wrapper {
    /* border: 3px solid green; */
    width: 1026px;
    display: block;
}

.restaurant-wrapper {
    /* border: 3px solid red; */
    width: 1026px;
}

.menu-review-title {
    color: #f00b51;
    font-weight: bold;
}

.single-prevImg {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.menu-items-wrapper {
    /* border: 3px solid purple; */

    width: 1026px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}



.menu-image {
    width: 332px;
    height: 332px;
    border-radius: 21px 21px 0 0;
    object-fit: cover;
}

.image-container {
    position: relative;
    display: inline-block;
}

.add-to-cart-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-to-cart-button :hover {
    transform: translateY(-2px);
    background-color: white;
    border-radius: 100px;
}

.item-details {
    padding-left: 5px;
}

.item-price {
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
    font-size: x-large;
}

.reviews-wrapper {
    padding-left: 10px;
    border-top: 2px solid #ff851b;

}

.post-review-container {
    padding-bottom: 20px;
}

.review-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.review-fristName {
    color: purple;
}

.rating-container {
    display: flex;
    margin-right: 10px;
    column-gap: 3px;
}

.review-details {
    flex: 1;
    row-gap: 20px;
}

.review-list p {
    margin: 0;
}

.review-list p {
    margin: 0;
}

.review-actions {
    display: flex;
    column-gap: 10px;
}

.review-buttons button {
    border-radius: 21px;
    cursor: pointer;
    background-color: #ff851b;
    color: white;
    border: #ff851b;
    padding: 5px 5px 5px 5px;
}

.review-buttons button:hover {
    background-color: purple;
}

.name-rating-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.restaurant-name-rating-price {
    row-gap: 5px;
    /* border: 1px solid red; */
}

.restaurant-average-rating {
    border: #ff851b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff851b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.restaurant-price-range {
    padding-left: 10px;
}

.restaurant-name {
    font-weight: bolder;
}
