.flag-cuisine:hover {
    transform: translateY(-2px);
    text-decoration: underline;
    color: #f00b51;
    cursor: pointer;
  }

.cuisine-type:hover {
    text-decoration: underline;
    color: #f00b51;
}
