
.filter-container {
  border: 2px solid blue;
  /* position: absolute; */
  left: 0;
  top: 30%;
  border: 3px solid #f7e9f2;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-weight: bold;
  max-width: 130px;
  height: 500px;
  margin-left: 10px;
}

.restaurant-cards-filter {
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  padding-left: 230px;
}


.filter-container span {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  border: 3px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.filter-container span.active {
  background-color: #e784ca;
  color: white;
  border-color: #bda5b8;
}
.price-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.price-button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background-color: #ff851bbd;
  color: #ffffff;
}

.price-button.active {
  background-color: transparent;
  color: #f00b51;
  border-color: #f00b51;
}

.price-button:hover {
  background-color: #ffd2e8;
  color: #ebced6;
}
