/* #filter-page-wrapper {
  border: 3px solid rgb(30, 17, 219);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  max-width: 1026px;

} */

#filter-page-wrapper {
  display: flex;
  /* border: 5px solid rgb(12, 12, 12); */
  margin-top: 100px;
  padding-left: 30px;

}

#filter-page-wrapper h2 {
  color: #000000;
}


.restaurant-cards-container {
  /* border: 3px solid rgb(243, 242, 238); */
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 5px;
  padding-left: 50px;
  width: 800px;
}

.one-restaurant-card {
  border: 4px solid rgb(238, 245, 238);
  width: 250px;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}


.price-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: 3px solid #f00b51;
  flex-direction: column;
}

.price-button {

  padding: 0px;
  font-size: 30px;
  font-weight: lighter;
  border-radius: 30px;
  cursor: pointer;
  border: transparent;
  /* font-family: 'Nunito Sans', sans-serif; */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background-color:  rgba(247, 240, 242, 0.8);
  color: #f00b51;
  height: 65px;
  width: 150px;
}

.price-button.active {
  background-color: transparent;
  color: #f00b51;
  border-color: #f00b5091;
}

.price-button:hover {
  background-color: rgb(128, 0, 128);
  color: #ffffff;
}
