
 #search-bar {
  position: fixed;
    position: absolute;
    top: 0; 
    left: 5; 
    width: 100%; 
    background-color: rgb(56, 173, 33); 
  }
   
  .search-suggestions {
    position: relative;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
 
    width: max-content;
    margin-top: 55px;
    margin-left: 370px;
  }
  

  .search-suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    border-bottom: rgba(128, 128, 128, 0.212) 1px solid;
  }
  
  
  .restaurant-info {
    margin-right: 10px;
   
  }
  
  .search-suggestion:hover {
    background-color: #eebbde;
  }




  .search-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    padding-right: 10px;
  }
  
  /* Rest of your CSS styles */
  