
.search-bar {
    position: relative;
  }
  
  .search-suggestions {
    position: absolute;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translateX(-50%);
    margin-top: -110px;
    z-index: 10;
    width: max-content;
  }
  

  .search-suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
  }
  
  
  .restaurant-info {
    margin-right: 10px;
   
  }
  
  .search-suggestion:hover {
    background-color: #eebbde;
  }
  
  /* Rest of your CSS styles */
  