.profile-dropdown {
  position: absolute;
  background-color: white;
  width: 250px;
  height: 1000px;
  top: 0px;
  left: 0px;

}

.hidden {
  display: none;
}

.logo {
  width: 160px;
  height: auto;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 2px;
}

.cart-icon-wrapper button {
  border: none;
  background-color: #f00b51 ;
  border-radius: 20px;
  padding: 6px;
  width: 60px;
  padding-top: 6px;
  color: white;
  margin-left: 740px;
  cursor: pointer;
  margin-bottom: 10px;
}

.style-cart {
  color: white;
}

.whole-bar-nav {
  display: flex;
  flex-direction: column;
}

.profile-logo-cart-nav {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.profile-button button {
  border: none;
  background-color: white;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 5px;
}

.search-bar {
  margin-top: 8px;
  padding-right: 50px;
  padding-left: 120px;

}

.cart-button button {
  background-color: black;
}

.shopping-cart-button button {
  color: black;
}

.search-input-container {
  position: relative;
  border-radius: 50px;

}

.search-icon {
  position: absolute;
  left: 280px;
  top: 50%;
  transform: translateY(-1170%);
  color: black;
  font-size: 12px;
  z-index: 1;
}

.search-input::placeholder {
  padding-left: 25px;
}

.search-input {
  position: absolute;
  left: 170px;
  bottom: 122px;
  border-radius: 50px;
  border: .5px solid white;
  padding: 4px;
  margin-left: 100px;
  width: 200px;
  background-color: #eee;
  cursor: pointer;
}

.cart-icon-wrapper {
  display: flex;
  align-items: center;
  position: relative;

}


.cart-icon-count {
  position: absolute;
  top: -15px;
  right: 50px;
  background-color: purple;
  color: white;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cuisine-nav-bar  {
  font-size: 15px;
  margin-left: 15px;
}

.cuisine-type {
  margin-left: 2px;
}
