/* Profile Drop Down */
.profile-dropdown {
  position: absolute;
  top: -20px;
  left: 0px;
  padding: 10px;
  width: 275px;
  height: 2000px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000; /* Ensure the dropdown is on top of other elements */
}

.profile-dropdown p {
  cursor: pointer;
}

.user-email {
  font-size: 20px;
  margin-left: 10px;
  margin-top: -5px;
}

.user-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  font-size: 20px;
}

.fa-heart {
  color:#f00b51;
  padding-left: 2px;
}

.user-name {
  margin-top: 30px;
  padding-left: 4px;
  font-size: 25px;
}

.created-by {
  margin-top: 420px;
  font-size: 10.92px;
}

.manage-account-button {
  color: #f00b51;}

.orders-button:hover {
  color: #f00b51;}

.logout-button:hover {
  color: #f00b51;}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.800); /* Semi-transparent black */
  z-index: 999; /* Ensure the overlay is on top of other elements */
}
.profile-dropdown.hidden {
  display: none;
}

.hidden {
  display: none;
}

/* Nav Bar */
.logo {
  width: 160px;
  height: auto;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 2px;
}

.cart-icon-wrapper button {
  border: none;
  background-color: #f00b51 ;
  border-radius: 20px;
  padding: 6px;
  width: 60px;
  padding-top: 6px;
  color: white;
  margin-left: 740px;
  cursor: pointer;
  margin-bottom: 10px;
}

.style-cart {
  color: white;
}

.whole-bar-nav {
  display: flex;
  flex-direction: column;
}

.profile-logo-cart-nav {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.profile-button button {
  border: none;
  background-color: white;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 5px;
}

/* .search-bar {
  position: fixed;
  margin-top: 8px;
  padding-right: 50px;
  padding-left: 120px;

} */

.cart-button button {
  background-color: black;
}

.shopping-cart-button button {
  color: black;
  position: relative;
  z-index: 4
 
}

/* .search-input-container {
  position: fixed;
  border-radius: 50px;
  grid-area: search;

} */

.search-icon {
  position: absolute;
  left: 412px;
  top: 173px;
  transform: translateY(-1170%);
  color: purple;
  font-size: 12px;
  font-weight: bolder;
  z-index: 2;
}

.search-input::placeholder {
  padding-left: 7px;
}

/* .search-input {
  position: fixed;
  left:300px;
  top: 20px;
  border-radius: 50px;
  border: .5px solid white;
  padding: 4px;
  margin-left: 100px;
  width: 200px;
  background-color: #eee;
  cursor: pointer;
} */

.search-input {
  position: absolute;
  margin-left: 405px;
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 10px;
  border-color: #f00b51;

}

.cart-icon-wrapper {
  display: flex;
  align-items: center;
  position: relative;

}


.cart-icon-count {
  position: absolute;
  top: -8px;
  right: 50px;
  background-color: purple;
  color: white;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.cuisine-nav-bar  {
  font-size: 15px;
  margin-left: 15px;
}

.cuisine-type {
  margin-left: 2px;
}
