.manage-restaurants-pag {}

.title-create-container {
    display: flex;
    justify-content: space-between;
}

.create-restaurant-button {
    width: 250px;
    padding: 10px;
    background-color: #f00b51;
    color: white;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    margin-bottom: 10px;
    gap: 20px;
    margin-top: 25px
}

.create-restaurant-button:hover {
    background-color: purple;
}

.restaurant-cards-buttons-container {
    display: grid;
}

.image-button-container {
    position: relative;
    display: inline-block;
}

.restaurant-image {
    width: 300px;
    height: 300px;
    border-radius: 18px;
    display: block;
}

.image-button-container button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
}

.image-button-container button:hover {
    transform: translateY(-2px);
    background-color: white;
    border-radius: 100px;
}


.single-restaurant-card {
    display: flex;
}

.single-restaurant-info {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 20px;

}

.single-restaurant-info>* {
    margin-bottom: -20px;
    /* Adjust this value as needed */
}

.single-restaurant-info div {
    display: flex;
    column-gap: 5px;
}

.single-restaurant-info .title {
    color: #f00b51;
}

.single-restaurant-cards-buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #ff851b;
    padding-top: 60px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    row-gap: 20px;
}

.buttons-container button {
    border-radius: 21px;
    cursor: pointer;
    background-color: #ff851b;
    color: white;
    border: #ff851b;
    padding: 10px 10px 10px 10px;
}

.buttons-container button:hover {
    background-color: purple;
}
