/* .carousel-wrapper{
    display: flex;
    flex-direction: column;
    width: 1026px;
}
.carousel-item {
   background-color: pink;
   flex: 0 0 calc(33.33% - 15px); 
   width: 332px;
   height: 332px;
   background-color: pink;
   border-radius: 20px 20px 0 0;
   object-fit: cover;
   transition: transform 0.3s ease-in-out;
   margin: 10px; 
  }
.carousel-top-wrapper, .carousel-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    
}

.carousel-top-wrapper div {
    margin: 0px 10px;
}

.carousel-button-wrapper button {
    padding: 2.5px 6px;
    font-size: 12px;
}

.carousel{
    display: flex;
    align-items: center;
    align-self: center;
} */