.home {
  display: flex;
  flex-direction: column;
  width: 1026px;
  margin-top: 8%;
  align-items: center;
}

.filter-carousel {
  display: flex;
}

.carousel-wrapper-filter {
  width: 200px;

}

.both-carousel-wrapper {
  top: 151px;
  right: 20px;
  transform: translateY(-50%);
  transform: translateX(2%);
  }


  .carousel-top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    margin-left: 20px;
  }
  .carousel-button-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid pink; */
    width: 780px;
  }

  .carousel-title {
    color: hsla(342, 91%, 49%, 0.719);
    font-size: 30px;
    font-weight: 800px;
    /* text-align: center; */
  }
  .material-symbols-outlined{
    color: #f00b5085;
    font-size: 35px;
    font-weight: 800px;
    /* text-align: center; */
    /* background-color: gray ; */
  }
  .material-symbols-outlined:hover{
    font-size: 38px;
  }
  .carousel-icons {
    /* width: 100px;
    height: 40px; */
    cursor: pointer;
    border: none;
    color:#ff851b;;
    /* border: 2px solid maroon; */
    align-self: center;
    text-align: center;
    background-color: transparent
  }


  .carousel-item {
    width: 250px;
    overflow: hidden;
    /* border-radius: 30px; */
    margin-right: 20px;

    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 3s ease-in-out;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

  .carousel-item img {
    width: auto;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;

  }

  .restaurant-name {
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
  }


  .no-reviews {
    font-size: 14px;
    padding: 10px;
    color: #888;
    margin-top: 35px;
    text-align: center;
    width: 50px;
    background-color: white;
    /* ... add any other styles to make it distinct ... */
  }
  .carousel-item:hover {
    transform: scale(1.1);
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  }


  .carousel-item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }


  .restaurant-carousel-avg  {
    border: #ff851b;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff851b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .all-restaurant-wrapper h3 {
    color: hsla(342, 91%, 49%, 0.719);
    font-size: 35px;
    font-weight: 800px;
  }

.restaurant-container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.single-restaurant{
  width: auto;
  height: 180px;
}

.all-restaurant-price {
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.877);
  padding-left: 8px;
  margin-top: -2px;
  cursor: pointer;
}
