.carousel-container {
    width: 1026px;
  }
  
  .carousel-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 1026px;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
  }
  
  .carousel-item {
    width: 250px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column; /* Stack the image and name vertically */
}
  
  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .restaurant-name {
    padding: 10px;
    
    border-top: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
  }
  
  .carousel-buttons button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .prev-button {
    margin-right: 10px;
  }
  
  .next-button {
    margin-left: 10px;
  }
  
  .carousel-top-wrapper,
  .carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  