/* Carousel Wrapper */
.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    max-width: 1200px; 
  }
  
  
  .carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  
  .carousel-item {
    flex: 0 0 calc(100% / 3);
    padding: 0 15px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
  }
  
  
  .carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .carousel-buttons button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 15px;
    transition: transform 0.3s ease-in-out;
    color: #333;
  }
  
  
  .carousel-buttons button:focus {
    outline: none;
  }
  
  .carousel-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .carousel-item {
      flex: 0 0 calc(100% / 2);
    }
  }
  
  @media (max-width: 480px) {
    .carousel-item {
      flex: 0 0 100%;
    }
  }
  