.single-restaurant-item-wrapper {
  /* border: 2px solid red; */
  width: 1026px;
  display: block;
  flex: 1 0 calc(33.33% - 40px);
  margin-bottom: 50px;
  margin-left: 20px;
  width: 250px;
  overflow: hidden;
  /* border-radius: 30px; */
  margin-right: 20px;

  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 3s ease-in-out;
  display: flex;
  flex-direction: column;

}

.single-restaurant-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;

}

.single-restaurant-image {
  width: auto;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;

}

.single-restaurant-rating-name{
  display: flex;
  justify-content: space-between;
}

#restaurant-title {
  font-size: small;
  color: black;
  width: fit-content;
}
