#create-restaurant-form {

  display: block;
  position: static;
  transform: none;
  margin: 0;
  width: 100%;
}

.content-left h1 {
  font-weight: 900;
  font-size: 55px;
  margin-bottom: 0px;
}


.content-left h3 {
  margin-top: 5px
}



.page-content {
  background-image: url('./../../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  width: 100%;
  display: flex;
  width: 100%
}

.content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding:90px 20px 20px 20px;
  color: white;
  background-color: transparent;
}

.content-right {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#restaurant-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-fields {
  text-align: left;
}

.add-restaurant-field {
  display: block;
  margin-bottom: 15px;
}

.restaurant-dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.restaurant-input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.modal-error {
  color: red;
  font-size: 14px;

  margin-top: 5px;
}

.modal-button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button:hover {
  background-color: #e68000;
}

.loading-message {
  font-size: 18px;
  margin-top: 20px;
}


.restaurant-save-button {
  border: none;
  background-color: #ff9900; ;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.restaurant-save-button:hover {
  background-color: purple;
}





/* Styles for the Update Restaurant Form */

.restaurant-input-update {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

#update-restaurant {
  width: 500px;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 30px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 80vh;
  flex-direction: column;
  align-items: center;


}

#scrollable-form-container {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  max-height: 100%;
}

#edit-restaurant-form {
  margin-top: 0;
  max-height: 80vh;
  width: 100%;
  overflow-y: auto;
}

#edit-restaurant-form > * {
  transform: translateY(70px)
}

#edit-restaurant-form label{
  width: 80%
}


#restaurant-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.add-restaurant-field {
  text-align: left;
  margin-bottom: 15px;
}

.restaurant-dropdown{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.modal-error {
  color: #ff0000; /* Red text for error messages */
  margin-top: 5px; /* Spacing above error messages */
}

.restaurant-save-button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 21px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button:hover {
  background-color: #e68000;
}

.loading-message {
  font-size: 16px;
  margin-top: 10px; /* Spacing above loading message */
}


.restaurant-save-button:hover {
  background-color: purple;

}





/* Styles for the Delete Restaurant Modal */
.delete-restaurant-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.delete-restaurant-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.delete-restaurant-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.delete-restaurant-buttons .delete-restaurant-button {
  background-color: #f00b51;
  color: #fff;
  border: none;
  border-radius: 21px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-restaurant-buttons .cancel-restaurant-button {
  background-color: #ff851b;;
  color: #fff;
  border: none;
  border-radius: 21px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-restaurant-buttons button:hover {
  background-color: purple;
}

